/* **************************************************************************

// CSS for KKLabs' SPOT VR Project
// Author: SybiL

// RWD Style for mobile & pad

************************************************************************** */
@media only screen and (min-width: 1366px) {

}

@media only screen and (min-width: 1301px) and (max-width: 1365px) {

}

@media only screen and (min-width: 1201px) and (max-width: 1300px) {

}

@media only screen and (min-width: 1101px) and (max-width: 1200px) {
	.boxLeft {
	  left: -35px;
	}

	.boxRight {
	  right: -35px;
	}

}

@media only screen and (min-width: 1001px) and (max-width: 1100px) {
	.boxLeft {
	  left: -55px;
	}

	.boxRight {
	  right: -55px;
	}

}

@media only screen and (min-width: 901px) and (max-width: 1000px) {
	
	.boxMiddle {
	  width: 280px;
	  height: 280px;
	  background-size: 280px 280px;
	}

	.boxLeft {
	  width: 280px;
	  height: 280px;
	  background-size: 280px 280px;
  	  top: -360px;

	  left: -65px;	
  	  
  	  margin-top: 4px;
	}

	.boxRight {
	  width: 280px;
	  height: 280px;
	  background-size: 280px 280px;
	  top: -330px;

	  right: -65px;
	}

	.middlePhoto01 {
	  width: 280px;
	  height: 280px;
	  background-size: contain;
	}

	.middlePhoto02 {
	  width: 280px;
	  height: 280px;
	  background-size: contain;
	}

	.middlePhoto03 {
	  width: 280px;
	  height: 280px;
	  background-size: contain;
	}

	.leftPhoto01 {
	  width: 280px;
	  height: 280px;
	  background-size: contain;
	}

	.leftPhoto02 {
	  width: 280px;
	  height: 280px;
	  background-size: contain;
	}

	.leftPhoto03 {
	  width: 280px;
	  height: 280px;
	  background-size: contain;
	}

	.rightPhoto01 {
	  width: 280px;
	  height: 280px;
	  background-size: contain;
	}

	.rightPhoto02 {
	  width: 280px;
	  height: 280px;
	  background-size: contain;
	}

	.rightPhoto03 {
	  width: 280px;
	  height: 280px;
	  background-size: contain;
	}

	.literatureLogo {
	  top: 102px;
	}

	.glassLogoLeft {
	  top: 113px;
	}

	.glassLogoRight {
	  top: 113px;
	}
}

@media only screen and (min-width: 801px) and (max-width: 900px) {
	
	.boxMiddle {
	  width: 250px;
	  height: 250px;
	  background-size: 250px 250px;
	}

	.boxLeft {
	  width: 250px;
	  height: 250px;
	  background-size: 250px 250px;
  	  top: -330px;

	  left: -60px;	
  	  
  	  margin-top: 5px;
	}

	.boxRight {
	  width: 250px;
	  height: 250px;
	  background-size: 250px 250px;
	  top: -300px;

	  right: -60px;
	}


	.middlePhoto01 {
	  width: 250px;
	  height: 250px;
	  background-size: contain;
	}

	.middlePhoto02 {
	  width: 250px;
	  height: 250px;
	  background-size: contain;
	}

	.middlePhoto03 {
	  width: 250px;
	  height: 250px;
	  background-size: contain;
	}

	.leftPhoto01 {
	  width: 250px;
	  height: 250px;
	  background-size: contain;
	}

	.leftPhoto02 {
	  width: 250px;
	  height: 250px;
	  background-size: contain;
	}

	.leftPhoto03 {
	  width: 250px;
	  height: 250px;
	  background-size: contain;
	}

	.rightPhoto01 {
	  width: 250px;
	  height: 250px;
	  background-size: contain;
	}

	.rightPhoto02 {
	  width: 250px;
	  height: 250px;
	  background-size: contain;
	}

	.rightPhoto03 {
	  width: 250px;
	  height: 250px;
	  background-size: contain;
	}

	.literatureLogo {
	  top: 87px;
	}

	.glassLogoLeft {
	  top: 98px;
	}

	.glassLogoRight {
	  top: 98px;
	}
}


/* iPad */
@media screen and (min-width: 768px) and (max-width: 800px){
	
	.boxMiddle {
	  width: 230px;
	  height: 230px;
	  background-size: 230px 230px;
	}

	.boxLeft {
	  width: 230px;
	  height: 230px;
	  background-size: 230px 230px;
  	  top: -310px;

	  left: -50px;	
  	  
  	  margin-top: 5px;
	}

	.boxRight {
	  width: 230px;
	  height: 230px;
	  background-size: 230px 230px;
	  top: -280px;

	  right: -50px;
	}


	.middlePhoto01 {
	  width: 230px;
	  height: 230px;
	  background-size: contain;
	}

	.middlePhoto02 {
	  width: 230px;
	  height: 230px;
	  background-size: contain;
	}

	.middlePhoto03 {
	  width: 230px;
	  height: 230px;
	  background-size: contain;
	}

	.leftPhoto01 {
	  width: 230px;
	  height: 230px;
	  background-size: contain;
	}

	.leftPhoto02 {
	  width: 230px;
	  height: 230px;
	  background-size: contain;
	}

	.leftPhoto03 {
	  width: 230px;
	  height: 230px;
	  background-size: contain;
	}

	.rightPhoto01 {
	  width: 230px;
	  height: 230px;
	  background-size: contain;
	}

	.rightPhoto02 {
	  width: 230px;
	  height: 230px;
	  background-size: contain;
	}

	.rightPhoto03 {
	  width: 230px;
	  height: 230px;
	  background-size: contain;
	}

	.literatureLogo {
	  top: 77px;
	}

	.glassLogoLeft {
	  top: 98px;
	}

	.glassLogoRight {
	  top: 88px;
	}
}

/* Nexus 7 */
@media screen and (min-width: 600px) and (max-width: 767px){
	
	.boxMiddle {
	  width: 180px;
	  height: 180px;
	  background-size: 180px 180px;
	}

	.boxLeft {
	  width: 180px;
	  height: 180px;
	  background-size: 180px 180px;
  	  top: -260px;

	  left: -40px;	
  	  
  	  margin-top: 12px;
	}

	.boxRight {
	  width: 180px;
	  height: 180px;
	  background-size: 180px 180px;
	  top: -230px;

	  right: -40px;
	}


	.middlePhoto01 {
	  width: 180px;
	  height: 180px;
	  background-size: contain;
	}

	.middlePhoto02 {
	  width: 180px;
	  height: 180px;
	  background-size: contain;
	}

	.middlePhoto03 {
	  width: 180px;
	  height: 180px;
	  background-size: contain;
	}

	.leftPhoto01 {
	  width: 180px;
	  height: 180px;
	  background-size: contain;
	}

	.leftPhoto02 {
	  width: 180px;
	  height: 180px;
	  background-size: contain;
	}

	.leftPhoto03 {
	  width: 180px;
	  height: 180px;
	  background-size: contain;
	}

	.rightPhoto01 {
	  width: 180px;
	  height: 180px;
	  background-size: contain;
	}

	.rightPhoto02 {
	  width: 180px;
	  height: 180px;
	  background-size: contain;
	}

	.rightPhoto03 {
	  width: 180px;
	  height: 180px;
	  background-size: contain;
	}

	.literatureLogo {
	  top: 52px;
	}

	.glassLogoLeft {
	  top: 63px;
	}

	.glassLogoRight {
	  top: 63px;
	}
}

/* RWD Pad */ 
@media screen and (min-width: 415px) and (max-width: 599px){
	#section01 {

	  height: 414px;
	  background-size: 100% 414px;
	}

	.spotvrLogo {
	  width: 240px;
	  height: 76px;
	  background-size: contain;
	  top: 160px;
	}

	#section02 {
	  height: 240px;
	  background-size: 100% 240px;
	}

	#section03 {
	  height: 620px;
	  background-size: 100% 620px;
	}

	#section03Bg {
	  width: 100%;
	  height: 460px;
	  background-size: cover;
	}

	.descriptionArea {
	  width: 420px;
	  height: 320px;
	  background-size: 420px 320px;

	  top: -80px;
	  left: 0px;

	}

	#section04Bg {
	  width: 1239px;
	  height: 1820px;
	  background-size: contain;
	  top: 0px;
	  margin-top: 120px;
	}

	.grassBallCenter {
		width: 120px;
		height: 116px;
		background-size: contain;

		position: relative;
		margin: 0 auto;
		top: 260px;
	}

	.forceLine01 {
	  width: 100px;
	  height: 1px;
	  background-size: 100px 1px;
	  top: -25px;
	  left: -70px;
	  
	  -webkit-transform: rotate(55deg);
	  transform: rotate(55deg);
	}

	.grassBallMini01 {
	  width: 46px;
	  height: 40px;
	  background-size: contain;
	  top: 40px;
	  right: 110px;
	}

	.ballText01 {
	  font-size: 14px;
	  top: -30px;
	  left: -65px;
	}

	.forceLine02 {
	  width: 80px;
	  height: 1px;
	  background-size: 80px 1px;
	  top: 100px;
	  left: -80px;
	  
	  -webkit-transform: rotate(-35deg);
	  transform: rotate(-35deg);
	}

	.grassBallMini02 {
	  width: 44px;
	  height: 40px;
	  background-size: contain;
	  top: 220px;
	  right: 130px;
	}

	.ballText02 {
	  font-size: 14px;
	  top: 40px;
	  left: -40px;

	}

	.forceLine03 {
	  width: 140px;
	  height: 1px;
	  background-size: 140px 1px;

	  top: 170px;
	  left: -30px;
	  
	  -webkit-transform: rotate(-75deg);
	  transform: rotate(-75deg);
	}

	.grassBallMini03 {
	  width: 44px;
	  height: 46px;
	  background-size: contain;
	  top: 300px;
	  right: 40px;
	}

	.ballText03 {
	  font-size: 14px;
	  top: 55px;
	  left: -80px;
	}

	.forceLine04 {
	  width: 150px;
	  height: 1px;
	  background-size: 150px 1px;

	  top: -75px;
	  right: 25px;
	  
	  -webkit-transform: rotate(-95deg);
	  transform: rotate(-95deg);
	}

	.grassBallMini04 {
	  width: 44px;
	  height: 45px;
	  background-size: contain;
	  top: -170px;
	  left: -20px;
	}

	.ballText04 {
	  font-size: 14px;
	  top: -30px;
	  right: -70px;
	}

	.forceLine05 {
	  width: 110px;
	  height: 1px;
	  background-size: 110px 1px;

	  top: -30px;
	  right: -80px;
	  
	  -webkit-transform: rotate(-40deg);
	  transform: rotate(-40deg);
	}

	.grassBallMini05 {
	  width: 44px;
	  height: 43px;
	  background-size: contain;
	  top: -120px;
	  left: 140px;
	}

	.ballText05 {
	  font-size: 14px;
	  top: -30px;
	  right: -20px;

	}

	.forceLine06 {
	  width: 90px;
	  height: 1px;
	  background-size: 90px 1px;
	  top: 120px;
	  right: -60px;
	  
	  -webkit-transform: rotate(55deg);
	  transform: rotate(55deg);
	}

	.grassBallMini06 {
	  width: 46px;
	  height: 44px;
	  background-size: contain;
	  top: 90px;
	  left: 100px;
	}

	.ballText06 {
	  font-size: 14px;
	  top: 60px;
	  right: -70px;
	}

	#section05 {
	  height: 120px;
	  background-size: 100% 120px;
	}

	.spotvrLogoMini {
	  width: 140px;
	  height: 44px;
	  background-size: contain;
	  top: 36px;
	}

	.cardboardText {
	  font-size: 20px;
	  left: 100px;
	  top: 30px;
	}

	.cardboardLinePic {
	  width: 300px;
	  height: 263px;
	  background-size: contain;
	  top: -164px;
	}

	#section06 {

	  height: 420px;
	  background-size: 100% 420px;
	}

	.cardboardPhoto {
	  top: 160px;
	}

	.cardboardDescriptionArea {
	  top: 160px;
	}

	.boxLeft {
	  display: none;
	}

	.boxRight {
	  display: none;
	}

	.cardboardCustom {
	  left: 0px;
	  top: -20px;
	}
}

/* i6 Plus */
@media screen and (min-width: 376px) and (max-width: 414px){
	#section01 {

	  height: 414px;
	  background-size: 100% 414px;
	}

	.spotvrLogo {
	  width: 240px;
	  height: 76px;
	  background-size: contain;
	  top: 160px;
	}

	#section02 {
	  height: 240px;
	  background-size: 100% 240px;
	}

	#section03 {
	  height: 370px;
	  background-size: 100% 370px;
	}

	#section03Bg {
	  width: 100%;
	  height: 460px;
	  background-size: contain;
	}

	.section03BgFill {
	  width: 100%;
	  height: 120%;
	  background-size: 100% 120%;
	}

	.descriptionArea {
	  width: 320px;
	  height: 200px;
	  background-size: 320px 200px;
	  left: 0px;
	  top: -200px;

	  border: solid 1px white;

	  padding: 20px;
	  padding-top: 25px;

	}

	.prefix {
	  font-size: 22px;
	}


	.firstLineMiniText {
	  font-size: 16px;
	}

	.secondLine {
	  font-size: 16px;
	}

	#section04Bg {
	  width: 1239px;
	  height: 1820px;
	  background-size: contain;
	  top: 0px;
	  margin-top: 120px;
	}

	.grassBallCenter {
		width: 120px;
		height: 116px;
		background-size: contain;

		position: relative;
		margin: 0 auto;
		top: 260px;
	}

	.forceLine01 {
	  width: 100px;
	  height: 1px;
	  background-size: 100px 1px;
	  top: -25px;
	  left: -70px;
	  
	  -webkit-transform: rotate(55deg);
	  transform: rotate(55deg);
	}

	.grassBallMini01 {
	  width: 46px;
	  height: 40px;
	  background-size: contain;
	  top: 40px;
	  right: 110px;
	}

	.ballText01 {
	  font-size: 14px;
	  top: -30px;
	  left: -65px;
	}

	.forceLine02 {
	  width: 80px;
	  height: 1px;
	  background-size: 80px 1px;
	  top: 100px;
	  left: -80px;
	  
	  -webkit-transform: rotate(-35deg);
	  transform: rotate(-35deg);
	}

	.grassBallMini02 {
	  width: 44px;
	  height: 40px;
	  background-size: contain;
	  top: 220px;
	  right: 130px;
	}

	.ballText02 {
	  font-size: 14px;
	  top: 40px;
	  left: -40px;

	}

	.forceLine03 {
	  width: 140px;
	  height: 1px;
	  background-size: 140px 1px;

	  top: 170px;
	  left: -30px;
	  
	  -webkit-transform: rotate(-75deg);
	  transform: rotate(-75deg);
	}

	.grassBallMini03 {
	  width: 44px;
	  height: 46px;
	  background-size: contain;
	  top: 300px;
	  right: 40px;
	}

	.ballText03 {
	  font-size: 14px;
	  top: 55px;
	  left: -80px;

	}

	.forceLine04 {
	  width: 150px;
	  height: 1px;
	  background-size: 150px 1px;

	  top: -75px;
	  right: 25px;
	  
	  -webkit-transform: rotate(-95deg);
	  transform: rotate(-95deg);
	}

	.grassBallMini04 {
	  width: 44px;
	  height: 45px;
	  background-size: contain;
	  top: -170px;
	  left: -20px;
	}

	.ballText04 {
	  font-size: 14px;
	  top: -30px;
	  right: -70px;
	}

	.forceLine05 {
	  width: 110px;
	  height: 1px;
	  background-size: 110px 1px;

	  top: -30px;
	  right: -80px;
	  
	  -webkit-transform: rotate(-40deg);
	  transform: rotate(-40deg);
	}

	.grassBallMini05 {
	  width: 44px;
	  height: 43px;
	  background-size: contain;
	  top: -120px;
	  left: 140px;
	}

	.ballText05 {
	  font-size: 14px;
	  top: -30px;
	  right: -20px;

	}

	.forceLine06 {
	  width: 90px;
	  height: 1px;
	  background-size: 90px 1px;
	  top: 120px;
	  right: -60px;
	  
	  -webkit-transform: rotate(55deg);
	  transform: rotate(55deg);
	}

	.grassBallMini06 {
	  width: 46px;
	  height: 44px;
	  background-size: contain;
	  top: 90px;
	  left: 100px;
	}

	.ballText06 {
	  font-size: 14px;
	  top: 60px;
	  right: -70px;

	}

	#section05 {
	  height: 120px;
	  background-size: 100% 120px;
	}

	.spotvrLogoMini {
	  width: 140px;
	  height: 44px;
	  background-size: contain;
	  top: 36px;
	}

	.cardboardText {
	  font-size: 20px;
	  left: 100px;
	  top: 30px;
	}

	.cardboardLinePic {
	  width: 300px;
	  height: 263px;
	  background-size: contain;
	  top: -164px;
	}

	#section06 {

	  height: 420px;
	  background-size: 100% 420px;
	}

	.cardboardPhoto {
	  top: 160px;
	}

	.cardboardDescriptionArea {
	  top: 160px;
	}

	.boxLeft {
	  display: none;
	}

	.boxRight {
	  display: none;
	}

	.cardboardCustom {
	  left: 0px;
	  top: -20px;
	}
}

/* i6 */
@media screen and (min-width: 321px) and (max-width: 375px) {

	#section01 {

	  height: 375px;
	  background-size: 100% 375px;
	}

	.spotvrLogo {
	  width: 240px;
	  height: 76px;
	  background-size: contain;
	  top: 140px;
	}

	#section02 {
	  height: 260px;
	  background-size: 100% 260px;
	}

	#section03 {
	  height: 340px;
	  background-size: 100% 340px;
	}

	#section03Bg {
	  width: 100%;
	  height: 420px;
	  background-size: contain;
	}

	.section03BgFill {
	  width: 100%;
	  height: 120%;
	  background-size: 100% 120%;
	}

	.descriptionArea {
	  width: 300px;
	  height: 200px;
	  background-size: 300px 200px;
	  left: 0px;
	  top: -190px;
	  border: solid 1px white;

	  padding: 10px;
	  padding-top: 25px;
	}

	.prefix {
	  font-size: 22px;
	}


	.firstLineMiniText {
	  font-size: 16px;
	}

	.secondLine {
	  font-size: 16px;
	}
	#section04Bg {
	  width: 1239px;
	  height: 1820px;
	  background-size: contain;
	  top: 0px;
	  margin-top: 120px;
	}

	.grassBallCenter {
		width: 120px;
		height: 116px;
		background-size: contain;

		position: relative;
		margin: 0 auto;
		top: 260px;
	}

	.forceLine01 {
	  width: 100px;
	  height: 1px;
	  background-size: 100px 1px;
	  top: -25px;
	  left: -70px;
	  
	  -webkit-transform: rotate(55deg);
	  transform: rotate(55deg);
	}

	.grassBallMini01 {
	  width: 46px;
	  height: 40px;
	  background-size: contain;
	  top: 40px;
	  right: 110px;
	}

	.ballText01 {
	  font-size: 14px;
	  top: -30px;
	  left: -65px;
	}

	.forceLine02 {
	  width: 80px;
	  height: 1px;
	  background-size: 80px 1px;
	  top: 100px;
	  left: -80px;
	  
	  -webkit-transform: rotate(-35deg);
	  transform: rotate(-35deg);
	}

	.grassBallMini02 {
	  width: 44px;
	  height: 40px;
	  background-size: contain;
	  top: 220px;
	  right: 130px;
	}

	.ballText02 {
	  font-size: 14px;
	  top: 40px;
	  left: -40px;

	}

	.forceLine03 {
	  width: 140px;
	  height: 1px;
	  background-size: 140px 1px;

	  top: 170px;
	  left: -30px;
	  
	  -webkit-transform: rotate(-75deg);
	  transform: rotate(-75deg);
	}

	.grassBallMini03 {
	  width: 44px;
	  height: 46px;
	  background-size: contain;
	  top: 300px;
	  right: 40px;
	}

	.ballText03 {
	  font-size: 14px;
	  top: 55px;
	  left: -80px;

	}

	.forceLine04 {
	  width: 150px;
	  height: 1px;
	  background-size: 150px 1px;

	  top: -75px;
	  right: 25px;
	  
	  -webkit-transform: rotate(-95deg);
	  transform: rotate(-95deg);
	}

	.grassBallMini04 {
	  width: 44px;
	  height: 45px;
	  background-size: contain;
	  top: -170px;
	  left: -20px;
	}

	.ballText04 {
	  font-size: 14px;
	  top: -30px;
	  right: -70px;
	}

	.forceLine05 {
	  width: 110px;
	  height: 1px;
	  background-size: 110px 1px;

	  top: -30px;
	  right: -80px;
	  
	  -webkit-transform: rotate(-40deg);
	  transform: rotate(-40deg);
	}

	.grassBallMini05 {
	  width: 44px;
	  height: 43px;
	  background-size: contain;
	  top: -120px;
	  left: 140px;
	}

	.ballText05 {
	  font-size: 14px;
	  top: -30px;
	  right: -20px;

	}

	.forceLine06 {
	  width: 90px;
	  height: 1px;
	  background-size: 90px 1px;
	  top: 120px;
	  right: -60px;
	  
	  -webkit-transform: rotate(55deg);
	  transform: rotate(55deg);
	}

	.grassBallMini06 {
	  width: 46px;
	  height: 44px;
	  background-size: contain;
	  top: 90px;
	  left: 100px;
	}

	.ballText06 {
	  font-size: 14px;
	  top: 60px;
	  right: -70px;

	}

	#section05 {
	  height: 120px;
	  background-size: 100% 120px;
	}

	.spotvrLogoMini {
	  width: 140px;
	  height: 44px;
	  background-size: contain;
	  top: 36px;
	}

	.cardboardText {
	  font-size: 20px;
	  left: 100px;
	  top: 30px;
	}

	.cardboardLinePic {
	  width: 300px;
	  height: 263px;
	  background-size: contain;
	  top: -164px;
	}

	#section06 {

	  height: 420px;
	  background-size: 100% 420px;
	}


	.cardboardPhoto {
	  top: 140px;
	}

	.cardboardDescriptionArea {
	  width: 320px;
	  height: 140px;
	  background-size: 320px 140px;
	  top: 130px;
	}

	.boxLeft {
	  display: none;
	}

	.boxRight {
	  display: none;
	}

	.cardboardCustom {
	  left: 0px;
	  top: -20px;
	}

}

/* i5 */
@media screen and (max-width: 320px){
	#section01 {

	  height: 320px;
	  background-size: 100% 320px;
	}

	.spotvrLogo {
	  width: 200px;
	  height: 63px;
	  background-size: contain;
	  top: 120px;
	}

	#section02 {
	  height: 260px;
	  background-size: 100% 260px;
	}

	#section03 {
	  height: 280px;
	  background-size: 100% 280px;
	}

	#section03Bg {
	  width: 100%;
	  height: 460px;
	  background-size: contain;
	}

	.descriptionArea {
	  width: 260px;
	  height: 220px;
	  background-size: 260px 220px;
	  left: 0px;
	  top: -320px
	}




	#section04Bg {
	  width: 1239px;
	  height: 1820px;
	  background-size: contain;
	  top: 0px;
	  margin-top: 120px;
	}

	.grassBallCenter {
		width: 120px;
		height: 116px;
		background-size: contain;

		position: relative;
		margin: 0 auto;
		top: 260px;
	}

	.forceLine01 {
	  width: 100px;
	  height: 1px;
	  background-size: 100px 1px;
	  top: -25px;
	  left: -70px;
	  
	  -webkit-transform: rotate(55deg);
	  transform: rotate(55deg);
	}

	.grassBallMini01 {
	  width: 46px;
	  height: 40px;
	  background-size: contain;
	  top: 40px;
	  right: 110px;
	}

	.ballText01 {
	  font-size: 12px;
	  top: -30px;
	  left: -45px;
	}

	.forceLine02 {
	  width: 80px;
	  height: 1px;
	  background-size: 80px 1px;
	  top: 100px;
	  left: -70px;
	  
	  -webkit-transform: rotate(-45deg);
	  transform: rotate(-45deg);
	}

	.grassBallMini02 {
	  width: 44px;
	  height: 40px;
	  background-size: contain;
	  top: 220px;
	  right: 110px;
	}

	.ballText02 {
	  font-size: 12px;
	  top: 40px;
	  left: -40px;

	}

	.forceLine03 {
	  width: 140px;
	  height: 1px;
	  background-size: 140px 1px;

	  top: 170px;
	  left: -30px;
	  
	  -webkit-transform: rotate(-75deg);
	  transform: rotate(-75deg);
	}

	.grassBallMini03 {
	  width: 44px;
	  height: 46px;
	  background-size: contain;
	  top: 300px;
	  right: 40px;
	}

	.ballText03 {
	  font-size: 12px;
	  top: 55px;
	  left: -80px;

	}

	.forceLine04 {
	  width: 150px;
	  height: 1px;
	  background-size: 150px 1px;

	  top: -75px;
	  right: 25px;
	  
	  -webkit-transform: rotate(-95deg);
	  transform: rotate(-95deg);
	}

	.grassBallMini04 {
	  width: 44px;
	  height: 45px;
	  background-size: contain;
	  top: -170px;
	  left: -20px;
	}

	.ballText04 {
	  font-size: 12px;
	  top: -30px;
	  right: -70px;
	}

	.forceLine05 {
	  width: 110px;
	  height: 1px;
	  background-size: 110px 1px;

	  top: -40px;
	  right: -60px;
	  
	  -webkit-transform: rotate(-55deg);
	  transform: rotate(-55deg);
	}

	.grassBallMini05 {
	  width: 44px;
	  height: 43px;
	  background-size: contain;
	  top: -140px;
	  left: 100px;
	}

	.ballText05 {
	  font-size: 12px;
	  top: -30px;
	  right: -40px;
	}

	.forceLine06 {
	  width: 90px;
	  height: 1px;
	  background-size: 90px 1px;
	  top: 120px;
	  right: -60px;
	  
	  -webkit-transform: rotate(55deg);
	  transform: rotate(55deg);
	}

	.grassBallMini06 {
	  width: 46px;
	  height: 44px;
	  background-size: contain;
	  top: 90px;
	  left: 100px;
	}

	.ballText06 {
	  font-size: 12px;
	  top: 60px;
	  right: -50px;

	}
	
	#section05 {
	  height: 120px;
	  background-size: 100% 120px;
	}

	.spotvrLogoMini {
	  width: 140px;
	  height: 44px;
	  background-size: contain;
	  top: 36px;
	}

	.cardboardText {
	  font-size: 20px;
	  left: 70px;
	  top: 30px;
	}

	.cardboardLinePic {
	  width: 260px;
	  height: 228px;
	  background-size: contain;
	  top: -164px;
	}

	#section06 {

	  height: 420px;
	  background-size: 100% 420px;
	}

	.cardboardPhoto {
	  top: 100px;
	}

	.cardboardDescriptionArea {
	  width: 300px;
	  height: 140px;
	  background-size: 300px 140px;
	  top: 100px;
	}

	.boxMiddle {
	  width: 240px;
	  height: 240px;
	  background-size: 240px 240px;
	}

	.literatureLogo {
	  top: 82px;
	}

	.middlePhoto01 {
	  width: 240px;
	  height: 240px;
	  background-size: contain;
	}

	.middlePhoto02 {
	  width: 240px;
	  height: 240px;
	  background-size: contain;
	}

	.middlePhoto03 {
	  width: 240px;
	  height: 240px;
	  background-size: contain;
	}

	.boxLeft {
	  display: none;
	}

	.boxRight {
	  display: none;
	}

	.cardboardCustom {
	  left: 0px;
	  top: 0px;
	}

}

/* i4 */
@media screen and (max-width: 320px) and (max-height: 480px){


}